@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h2>Aplicación prueba PFC TI</h2>
    <p class="lead"><strong>Candidato:</strong> Davis Vargas Castro</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Detalles del proyecto</h3>
        <hr />
        <p>
            La aplicación consiste en un sistema que muestra un listado de clientes y las ordenes de compra realizadas por cada cliente. <br />
            La solución contiene dos proyectos: <strong>ProyectoWeb</strong> y <strong>Servicios</strong>. Al ejecutar la solución, la misma esta configurada para inicializar simultaneamente ambos proyectos: El sitio Web y el Web API.
        </p>
        <dl>
            <dt>ProyectoWeb</dt>
            <dd>
                Desarrollado en MVC y Razor pages
            </dd>
            <dt>Servicios</dt>
            <dd>
                Contiene el API que obtiene los datos desde la base de datos usando Entity Framework.<br />
                Para efectos de esta prueba dentro del proyecto Servicios se encuentra adjunta la base de datos MS SQL Server. <br />
                Por default el Web API corre en IIS Express en la url <a href="https://localhost:44341/">https://localhost:44341/</a>  y desde la misma se consume por el cliente web.
            </dd>
        </dl>
        </p>
    </div>    
</div>